body{
            background-color: #002966;
            color: white;
            text-align: left;
        }
        .table-bg{
            background: white;
            border-radius: 10px 10px 0 0;
        }	

        .box-search{
            display: flex;
            justify-content: center;
            gap: .1%;
        }